body {
  margin: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  display: block;
  max-width: 100%;
  border: none;
}
img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255,255,255,0.3);
  cursor: pointer;
}
